
body {
	margin: 0;
	padding: 0;
	color: #666;

	font-size: 23px;
	line-height: 1.4em; 
	background-color: #f7f7f7;
	background-repeat: repeat-x;
	background-position: top;
}

/* 
#subpage { background-image: url(../images/templatemo_body_subpage.png) } */




.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }

.float_l { float: left }
.float_r { float: right }

#templatemo_wrapper {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}




#templatemo_main_top {
	width: 960px;
	height: 12px;
	background: url(../images/templatemo_main_top.png) 
}

#templatemo_main {
	width: 960px;
	background: url(../images/templatemo_main_middle.png) 
}

#sidebar {
	float: left; 
	width: 200px;
	padding: 20px 30px 0 10px;
}

#cont {
	float: right;
	width: 700px;
	width: 700px;
	padding: 20px 10px 20px;
}


#sidebar h3 {
	font-size: 16px;
	padding: 0 0 15px 0;
	margin: 0 0 15px 0;
	background: url(../images/sidebar_header_bg.png)  left bottom no-repeat
}
.sidebar_menu {
	list-style: none;
	margin: 0 0 30px;
	padding: 0;
}
.sidebar_menu li {
	margin: 0;
	text-align: center;
	padding: 10px 0 10px 15px;

	border-bottom: 1px dotted rgb(119, 119, 119)
}

.sidebar_menu li a {
	font-size: 20px;
	color: rgb(107, 107, 107);
}

#cont h2 { font-size: 24px; padding-bottom: 10px; border-bottom: 1px solid #ccc; margin-bottom: 20px }

table td { border-bottom: 1px solid #ccc }

.product_gallery {
	margin-bottom: 60px;

}

.product_gallery img {
	margin-bottom: 5px;
}

.product_gallery h3 {
	font-size: 23px;
	color: rgb(57, 56, 78);
	font-weight: 00;
}
.product_gallery .username {
	font-size: 20px;
	color: rgb(34, 33, 54);
	font-weight: 00;
}
.product_gallery .product_price {
	color: #000;
	font-weight: 700
}

.add_to_cart {
	display: inline-block;
	padding-right: 30px;
	background: url(../images/cart.png) no-repeat right center	
}

.col { float: left; margin-right: 25px }

.col_14 { width: 200px }

